# Never push your private YouTube session cookies to GitHub!
Config/cookies.txt
Config/*.txt
Config/*.json
Config/*.tmp
Config/.env
Config/.cache


# Ignore local test data caches
Sandbox_Backup/
Sandbox_Mobile/
*.log



.DS_Store